#CandyDelete
CandyDelete/Library/
CandyDelete/Log/
CandyDelete/Packages/
CandyDelete/ProjectSettings/
CandyDelete/UserSettings/
CandyDelete/.vscode/
#AngryBird
AngryBird/Library/
AngryBird/Log/
AngryBird/Packages/
AngryBird/ProjectSettings/
AngryBird/UserSettings/
AngryBird/.vscode/
