#CandyDelete
CandyDelete/Library/
CandyDelete/Log/
CandyDelete/Packages/
CandyDelete/ProjectSettings/
CandyDelete/UserSettings/
CandyDelete/.vscode/
#MyGalGame
MyGalGame/Library/
MyGalGame/Log/
MyGalGame/Packages/
MyGalGame/ProjectSettings/
MyGalGame/UserSettings/
MyGalGame/.vscode/
